nav ul li a:link, nav ul li a:visited {
  background-color: #ffa64d;
  color: #000000;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: small-caps 18px Arial, sans-serif;
}

nav ul li a:hover {
  background-color: #993300;
  color: #FFFFFF;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: small-caps 18px Arial, sans-serif;
}

h1 {
  width:100%;
  margin:3px auto;
  font-size:46px;
  position: relative;
  overflow: auto;
  text-align:center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
  width:100%;
  margin:3px auto;
  font-size: 20px;
  position: relative;
  overflow: auto;
  text-align:center;
}

.wrapper{
  width: 100%;
  font-size:20px;
}

.left-align-textbox {
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left-align-textbox h2 {
  padding: 10px 20px 10px;
  font-size: 30px;
}

.left-align-textbox p {
  padding: 0px 20px 20px;
  text-align: left;
  /* text-justify: inter-word; */
  font-size: 20px;
  line-height: 30px;
}

.centre-align-textbox {
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.centre-align-textbox h2 {
  padding: 10px 20px 10px;
  font-size: 30px;
}

.centre-align-textbox p {
  padding: 0px 20px 20px;
  text-align: left;
  /* text-justify: inter-word; */
  font-size: 20px;
  line-height: 30px;
}

.right-align-img {
  padding: 10px;
  width: 100%
}

@media only screen and (min-width: 768px) {
  .wrapper{
    width: 600px;
    margin: 0 auto;
  }

  nav ul li a:link, nav ul li a:visited {
    background-color: #ffa64d;
    color: #000000;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: small-caps 18px Arial, sans-serif;
  }

  nav ul li a:hover {
    background-color: #993300;
    color: #FFFFFF;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: small-caps 18px Arial, sans-serif;
  }

  #container {
    width:85%;
    margin:3px auto;
    font-size: 20px;
    position: relative;
    overflow: auto;
    text-align:center;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper{
    width: 1000px;
    margin: 0 auto;
  }

  nav ul li a:link, nav ul li a:visited {
    background-color: #ffa64d;
    color: #000000;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: small-caps 18px Arial, sans-serif;
  }

  nav ul li a:hover {
    background-color: #993300;
    color: #FFFFFF;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: small-caps 18px Arial, sans-serif;
  }

  #container {
    width:85%;
    margin:3px auto;
    font-size: 20px;
    position: relative;
    overflow: auto;
    text-align:center;
  }

  .left-align-textbox {
    width: 70%;
    float: left;
  }

  .left-align-textbox h2 {
    padding: 30px 0px 10px;
    font-size: 30px;
  }

  .left-align-textbox p {
    padding: 0px 0px 0px;
    text-align: left;
    /* text-justify: inter-word; */
    font-size: 20px;
    line-height: 24px;
  }

  .centre-align-textbox {
    width: 100%;
    float: left;
  }

  .centre-align-textbox h2 {
    padding: 30px 0px 10px;
    font-size: 30px;
  }

  .centre-align-textbox p {
    padding: 0px 0px 0px;
    text-align: left;
    /* text-justify: inter-word; */
    font-size: 20px;
    line-height: 24px;
  }

  .right-align-img {
    padding: 100px 0px 0px;
    width: 250px;
    float: right;
  }

}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px;
    /* font-family: sans-serif; */
    min-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #ffa64d;
    color: #222222;
    font-size: 20px;
    text-align: left;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #fd8915;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #00dbaf;
}

.styled-table tr th, td{
  padding-left: 6px;
  padding-right: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
}
